service: {{ name }}
frameworkVersion: '2'
provider:
  name: aws
  runtime: {{ runtime }}
  region: {{ region }}
 {% if role != 'policy' %}
 role: {{ role }}
 {% else%}
 iamRoleStatements:
  {% for r in resources %}
    - Effect: 'Allow'
        Action:
          - '{{ r.policy }}:*'
        Resource:
          - 'arn:aws:{{ r.policy }}:::*'
  {% endfor %}
  {% endif %}
functions:
   {{ handler }}:
     handler: {{ handler }}.handler
     events:
      - http:
          path: /create
          method: get
plugins:
  - serverless-python-requirements
