version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = {{ name }}
image_repository = {{ repository }}
region = {{ region }}
confirm_changeset = true
capabilities = "CAPABILITY_IAM"