service: {{ name }}
frameworkVersion: '2'
provider:
  name: aws
  runtime: {{ runtime }}
  region: {{ region }}
  iamRoleStatements:
  {% for r in resources %}
    - Effect: 'Allow'
        Action:
          - '{{ r.res }}:*'
        Resource:
          - 'arn:aws:{{ r.res }}:::*'
  {% endfor %}
  
functions:
   {{ handler }}:
     handler: {{ handler }}.handler
     events:
      - http:
          path: /{{ routepath }}
          method: get
plugins:
  - serverless-python-requirements
